@use 'reset';
@use '../components/Row/row';
@use  '../components//Banner/Banner';
@use '../components/Nav/Nav';

body {
  background: #111;
  color: white;
}

.test{
  .banner{
    // background-size: cover;
    // background-position: center;
    // // 16:9 ratio
    // padding-top: 62.5%;

    // background-size: cover;
    // background: no-repeat;
    // background-position: center center;
    // object-fit: cover;
    background: center;
  }
}
